body{
width:expression(
                (document.compatMode && document.compatMode == 'CSS1Compat')
                ?
                (
                    document.documentElement.clientWidth < 960
                    ?
                    "960px"
                    :
                    (
                        document.documentElement.clientWidth > 1240
                        ?
                        "1240px"
                        :
                        "auto"
                    )
                )
                :
                (
                    document.body.clientWidth < 960
                    ?
                    "960px"
                    :
                    (
                        document.body.clientWidth > 1240
                        ?
                        "1240px"
                        :
                        "auto"
                    )
                )
            );
}

#content { width: 365px; }
#footer .line_b span a { border-bottom: 1px dotted #fff; color: #eee; position:relative; z-index:1; }
#footer .line_b span a:hover { border-bottom: 1px dashed #fff; position:relative; z-index:1; }