/* CSS Document */
* {margin: 0; padding: 0; font-size: 12px; font-family: "Century Gothic";}
body { background: url(../images/background.jpg) top center scroll; min-width: 960px;  }

h1 { font-size: 28px; font-weight: bold; }
h2 { font-size: 23px; font-weight: bold; }
h3 { font-size: 14px; font-weight: bold; }

a {text-decoration: none; }

img {border: none; }

.logout { font-size: 14px; font-weight: bold; }
#top_line .logo { float:left; }
#top_line .logo a { position: absolute; top: 0; }
#top_line .menu { float:right; padding-right: 40px; }
#top_line .line { background: url(/images/line.png) top center scroll; height: 31px; width: 100%;}

/*menu*/
#top_line .menu a { color: #fefefe; float: left; text-decoration: none; height: 31px; background: url(/images/buttom_menu.png) 0 0 no-repeat; margin-right: 7px; padding-top: 7px; width: 104px; text-align: center;}
#top_line .menu a:hover { background: url(/images/buttom_menu_hover.png) 0 0 no-repeat; height: 31px; width: 104px; }

/*content*/

#content { clear: both; float: right; height: 100%; }

/*login_form*/
#content .login_form { padding-top: 25px; padding-right: 55px; }
#content .login_form h2 { padding-bottom: 10px; }
#content .login_form .group { margin-top: 5px;}
#content .login_form .label { font-size: 14px; font-weight: bold; background: #fff; }
#content .login_form .right input.text_field { background: url(/images/text_field.png) 0 0 no-repeat; height: 27px; width: 307px; border: none; padding: 0 5px; font-size: 17px; outline: none;}
#content .login_form .button_enter_form { padding-top: 5px; }
#content .login_form .button_enter_form .button { color: #fefefe; float: left; text-decoration: none; height: 30px; background: url(/images/enter.png) 0 0 no-repeat; margin-right: 15px; width: 74px; border: none;}
#content .login_form .button_enter_form .button:hover { background: url(/images/enter_hover.png) 0 0 no-repeat; height: 30px; width: 74px;}
#content .login_form .button_enter_form a  {color: #fefefe; float: left; margin-left: 6px; text-decoration: none; height: 30px; background: url(/images/registration.png) 0 0 no-repeat; padding-top: 7px; width: 116px; text-align: center;}
#content .login_form .button_enter_form a:hover { background: url(/images/registration_hover.png) 0 0 no-repeat; height: 30px; width: 116px; }
#content .login_form .button_enter_form .button_yes_registr  { border:none; color: #fefefe; float: left; text-decoration: none; height: 30px; background: url(/images/registration.png) 0 0 no-repeat; width: 116px; text-align: center;}
#content .login_form .button_enter_form .button_yes_registr:hover { background: url(/images/registration_hover.png) 0 0 no-repeat; height: 30px; width: 116px; }
#content .login_form .button_enter_form a.password_email { color: #fefefe; margin-left: 21px; text-decoration: none; height: 30px; background: url(/images/enter.png) 0 0 no-repeat; width: 74px; border: none;}
#content .login_form .button_enter_form a.password_email:hover { background: url(/images/enter_hover.png) 0 0 no-repeat; height: 30px; width: 74px;}

/*content right*/
#content .content_right { margin-top: 15px; background: url(/images/form_content_right.png) 0 0 no-repeat; width: 313px; height: 155px; }
#content .content_right h3 { padding: 20px; }


/*footer*/
#footer .line_b { clear: both; background: url(/images/line.png) bottom center scroll; height: 31px; width: 100%;}
#footer .line_b p { color: #fff; font-weight: bold; padding: 7px 0 0 40px; float: left; }
#footer .line_b span { color: #fff; font-weight: bold; padding: 7px 40px 0 0; float: right; }
#footer .line_b span a { border-bottom: 1px dotted #fff; color: #eee; }
#footer .line_b span a:hover { border-bottom: 1px dashed #fff; }


/*content left*/
#footer .content_left { margin-left: 40px; clear: both; background: url(/images/form_content_left.png) 0 0 no-repeat; width: 599px; height: 150px; }
#footer .content_left h1 { padding: 30px; }
#footer p img { margin-left: 40px; }

.clear { clear: both; height: 0; }




hr {height: 1px; border: 0; }


#container {
    min-width: 960px;
}

#header, #wrapper {
    padding: 0 40px;
}

#header {
    position: relative;
    padding-top: 1px;
}

#header h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 30px;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
    text-decoration: none;
}

#main {  
    width: 70%;
    float: left;
}

.actions-bar {
    padding: 10px 1px;
}

.actions-bar .actions {
    float: left;
}


.actions-bar .pagination {
    float: right;
    padding: 1px 0;
}

#sidebar {
    width: 25%;
    float: right;
}

#sidebar h3 {  
    padding: 10px 15px;
    margin: 0;
    font-size: 13px;
}

#sidebar .block {
    margin-bottom: 20px;
}

#sidebar .block .content {
    padding: 0 15px; border: 3px solid #000; background: #fff;
}

#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited  {
    display: block;
    padding: 10px 15px;
}

#sidebar .block .sidebar-block, #sidebar .notice {
    padding:10px;
}

#wrapper {
    padding-top: 20px;
}

#main .block {
    margin-bottom: 20px;
    padding-top: 1px;
}

#main .block .content .inner {
    padding: 0 15px 15px;
}

#main .main p.first {
    margin-top: 0;
}

#user-navigation {
    position: absolute;
    top: 0px;
    right: 20px;
}

#main-navigation {
    width: 100%;
    margin-top: 100px;
    height: 40px;

}

#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
    float: left;
}

#user-navigation ul li {
    padding: 5px 10px;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
    text-decoration: none; 
}

#main-navigation ul li a {
    font-size: 15px;
    display: block;
    padding: 8px 10px;
}

.secondary-navigation {
    font-size: 13px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

.secondary-navigation ul li a {
    display: block;
    padding: 10px 15px;
}

.secondary-navigation ul li span{
    display: block;
    padding: 10px 15px;
    color: #fff; text-decoration:line-through;
}

#footer {
    padding-bottom: 20px;
}

/* pagination */

.pagination a, .pagination span {
    padding: 2px 5px;
    margin-right: 5px;
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px;
}

.pagination span.current {
    font-weight: bold;
}

.pagination a {
    text-decoration: none;
}

/* tables */
.table {
    width: 100%;
    margin-bottom: 15px;
}

.table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.table th.first {
    width: 10px;
}

.table th.last {
    width: 210px;
}

.table .checkbox {
    margin-left: 10px;
}

.table td {
    padding: 2px;
}

.table td.last {
    text-align: right;
}

/* forms */

input.checkbox {
    margin: 0;
    padding: 0;
}



.form .columns .column {
    width: 48%;
}

.form .columns .left {
    float: left;
}

.form .columns .right {
    float: right;
}

.form textarea.text_area {
    font-size: 1.2em;
    padding: 1px 0;
    margin: 0;
}

textarea.text_area {
    height : 100px;
}

.form input.checkbox, .form input.radio {
    margin-right: 5px;
}

.form label.checkbox, .form label.radio {
    line-height: 1.5em;
}



.form div.fieldWithErrors label.label {

}

.form .fieldWithErrors .error {
    color: red;
}

.form input.text_field, .form textarea.text_area {
    width: 100%;
    border-width: 1px;
    border-style: solid;
}

/* lists */

ul.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.list li {
    clear: left;
    padding-bottom: 5px;
}

ul.list li .left {
    float: left;
}

ul.list li .left .avatar {
    width: 50px;
    height: 50px;
}

ul.list li .item {
    margin-left: 80px;
}

ul.list li .item .avatar {
    float: left;
    margin: 0 5px 5px 0;
    width: 30px;
    height: 30px;
}

/* box */

#box {
    width: 500px;
    margin: 100px auto;
}

#box .block_result {
    margin-bottom: 20px;
    background: #fff;
}

#box .block_result h2 {
    padding: 10px 15px;
    margin: 0;
}

#box .block_result .content {
    padding: 10px 20px;
    border: 5px solid #000;
}

/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

a.button:link, a.button:visited,  button.button {
    border:none; color: #fefefe; float: left; text-decoration: none; height: 30px; background: url(/images/registration.png) 0 0 no-repeat; width: 116px;
    text-align: center;
    margin:0 7px 0 0;

    font-weight:bold;
    cursor:pointer;
    padding:5px 0 6px 0;
}

a.button:hover, a.button:active, button.button:hover { background: url(/images/registration_hover.png) 0 0 no-repeat; height: 30px; width: 116px; }


button.button {
    overflow:visible;
    padding:-1px 10px 3px 7px; /* IE6 */
    text-align: center;
}
button.button[type] {
    padding:-1px 10px 6px 7px; /* Firefox */
    line-height:17px; /* Safari */
}

*:first-child+html button.button[type] {
    padding:4px 10px 3px 7px; /* IE7 */
}

button.button img, a.button img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/*error_messages_for QUESTION*/

.fieldWithErrors {
    padding: 5px;
    background-color: #fdd;
}

#errorExplanation {
    border: 3px solid #fbb;
    padding: 7px;
    background-color: #fdd;
    margin-bottom: 15px;
}

#errorExplanation h2 {
    font-weight: bold;
    font-size: 13px;
    background-color: #fdd;
    text-align:right;
    margin:0;
    padding:0;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px 5px 5px 0;
    font-weight: bold;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
    margin-left: 15px;
}
.handler_move{
    cursor: move;
    background-image: url(/images/move.png);
    background-repeat: no-repeat;
    background-position: left center;
    width:35px
}
ul#questions li{
    list-style: none;
    display:inline;
}

.result_form{
    padding-top: 10px;
}

.result_form label{
    font-size: 1.5em;

}

.result_form label.label{
    font-size: 1.3em;
}
.result_form input[type=text]{
    font-size: 1.5em;
    padding : 5px;
    width:90%;
}

.result_form select{
    font-size: 1.5em;
    width:30%;
}

.result_form textarea{
    font-size: 1.3em;
    padding : 5px 0px;
    width:100%;

}

.navform { padding-top: 20px;}

.analize_select{
    width:100%;
    padding-bottom : 20px; 
}
.analize_select #field{
    width:100%;
}
#result_div{
    text-align:center;
}