<ul>
  <li <%if params[:controller] == 'polls'%>class='active'<%end%>><%=link_to t(:polls), polls_path%></li>
  <%if @poll && @poll.id %>
  <li <%if params[:controller] == 'anketas'%>class='active'<%end%>><%=link_to t(:anketas), poll_anketas_path(@poll)%></li>
  <%end%>
</ul>