
  <% @questions.each do |question| -%>
    <div class="group">
      <%= f.label :body, question.body, :class => :label %>
    </div>
  <% end -%>
        
<div class="group navform">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "Save") %> Save
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "Cancel")} Cancel", results_path, :class => "button" %> 
  <div class="clear"></div>
</div>