<% if @anketas %>
  <div class="block">
    <h3>Links</h3>
      <ul class="navigation">
      <% @anketas.each do |anketa| -%>
        <li><a <%= link_to anketa.title, poll_anketa_path(@poll,anketa) %> </a> </li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<div class="block">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>